<div class="reservations-list">
  <h2>Reservations List</h2>

  <input
  type="text"
  placeholder="Search reservations..."
  [(ngModel)]="aSearchQuery"
  (input)="filterReservations()"
  class="search-input"
  />

  <table>
    <thead>
      <tr>
        <th (click)="sortReservations('student_name')">Student Name</th>
        <th (click)="sortReservations('student_email')">Email</th>
        <th (click)="sortReservations('student_phone')">Phone</th>
        <th (click)="sortReservations('party_name')">Party Name</th>
        <th (click)="sortReservations('reservation_date')">Reservation Date</th>
        <th (click)="sortReservations('reservation_status')">Status</th>
        <th>Goodies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentReservation of aFilteredReservationsArray">
        <td>{{ currentReservation.student_name }}</td>
        <td>{{ currentReservation.student_email }}</td>
        <td>{{ currentReservation.student_phone }}</td>
        <td>{{ currentReservation.party_name }}</td>
        <td>{{ currentReservation.reservation_date | date }}</td>
        <td>{{ currentReservation.reservation_status }}</td>
        <td>
          <ul>
            <li *ngFor="let goodie of currentReservation.goodies">{{ goodie }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>