<div class="reservations-list">
  <h2>Reservations List</h2>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Party Name</th>
        <th>Reservation Date</th>
        <th>Status</th>
        <th>Goodies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentReservation of aReservationsArray">
        <td>{{ currentReservation.student_name }}</td>
        <td>{{ currentReservation.student_email }}</td>
        <td>{{ currentReservation.student_phone }}</td>
        <td>{{ currentReservation.party_name }}</td>
        <td>{{ currentReservation.reservation_date | date }}</td>
        <td>{{ currentReservation.reservation_status }}</td>
        <td>
          <ul>
            <li *ngFor="let goodie of currentReservation.goodies">{{ goodie }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>